/* Estilos para el contenedor del modal */
.modal-content {
  background: #fff;
  padding: 2rem 1.5rem;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 16px rgba(0,0,0,0.2);
  /* min-width: 10em; */
  /* max-width: 420px; */
  /* max-height: 80vh; */
  width: 30%;
  overflow-y: auto;
  text-align: center;
}
.edit-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.form-group label {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.form-group input {
  padding: 0rem 0.5rem;
  border: 1px solid #bdbdbd;
  border-radius: var(--border-radius);
  width: 100%;
  font-size: 1rem;
  box-sizing: border-box;
height: 2.5rem;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  /* margin-top: 1.2rem; */
  height: 3rem;
}

.btn-confirm {
  background: #1976d2;
  color: #fff;
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: bold;
}

.btn-cancel {
  background: #bdbdbd;
  color: #333;
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: bold;
}

.btn-confirm:hover {
  background: #004ba0;
}

.btn-cancel:hover {
  background: #757575;
}
