/* Estilos para el contenedor principal */
.product-list-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* padding: 2rem; */
  background: #f7f9fb;
  /* min-height: 100vh; */
  height: 100vh;
}

.product-list-header{
  display: flex;
  padding: 1rem;
  background: var(--color-bg-light);
  border-bottom: 1px solid #e2e8f0;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

/* Estilos para la barra de búsqueda y filtros */
.filter-search-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 0;
}

/* Estilos para la tabla */
.product-list-container table {
  width: 100%;
  border-collapse: collapse;
  border: none;
  max-width: 100%;
  border-bottom: 1px solid #e2e8f0;
  box-shadow: var(--box-shadow);
  /* min-height: 100vh; */
  /* height: 100vh; */
}

.product-list-container th,
.product-list-container td {
  border: none;
  padding: 12px;
  text-align: left;
}

.product-list-container tr{
  background-color: var(--color-bg-light);
  
}

.product-list-container th {
  background-color: var( --color-bg-main);
  font-weight: bold;
  /* border-radius: var(--border-radius); */
  color: var(--color-bg-light);
}

.product-list-container tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.product-list-container tbody tr:hover {
  background-color: #e9e9e9;
}

/* Estilos para las celdas de acciones 

/* Estilos para los iconos de acción */
.product-list-container .action-icons {
  display: flex;
  justify-content: center;
  gap: 15px; /* Espacio entre iconos */
}

.product-list-container .action-icons svg {
  cursor: pointer;
  font-size: 1.2em; /* Tamaño del icono */
  transition: color 0.2s ease-in-out;
}

.product-list-container .action-icons svg:hover {
  color: #007bff; /* Color al pasar el mouse */
}

/* Estilo específico para el icono de eliminar */
.product-list-container .action-icons .delete-icon:hover {
  color: #dc3545; /* Color rojo al pasar el mouse sobre eliminar */
}

/* Estilo para el mensaje de "No hay productos" */
.product-list-container .no-products {
  text-align: center;
  font-style: italic;
  color: #666;
}

/* Estilos para el botón de agregar producto */
.add-product-btn {
  padding: 0rem 2rem;
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  border-radius: var(--border-radius);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.2s, box-shadow 0.2s;
  box-shadow: 0 1px 4px rgba(0,0,0,0.04);
  height: 100%;
  display: flex;
  align-items: center;
  /* margin: 0 1em */
}

.add-product-btn:hover {
  background-color: #0056b3;
}

.icon-btn{
  font-size: 1em;
}

.add-product-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem; /* Espacio entre el icono y el texto */
}

