/* Estilos para el contenedor principal */
.product-list-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-between-elements);
  /* padding: 2rem; */
  background: #f7f9fb;
  /* min-height: 100vh; */
  height: 100vh;
}

/* Estilo para el mensaje de "No hay productos" */
.product-list-container .no-products {
  text-align: center;
  font-style: italic;
  color: #666;
}

.status-badge {
  padding: 0.2em 0.7em;
  border-radius: 12px;
  color: #fff;
  font-size: 0.95em;
  font-weight: 500;
  display: inline-block;
  width: 60%;
}

.status-badge.disponible {
  background: var(--color-success);
}

.status-badge.venciendo {
  background: var(--color-important);
}

.status-badge.agotado {
  background: var(--color-danger);
}

