
.sales-container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-between-elements);
  /* padding: 2rem; */
  background: #f7f9fb;
  /* min-height: 100vh; */
  height: 100vh;
}

.no-sales {
  text-align: center;
  color: #a0aec0;
  padding: 24px 0;
}
