.shopping-container{
  display: flex;
  flex-direction: column;
  gap: var(--gap-between-elements);
  /* padding: 2rem; */
  background: #f7f9fb;
  /* min-height: 100vh; */
  height: 100vh;
}

/* Modal de productos */
.modal-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
  border-radius: 10px;
  min-width: 320px;
  max-width: 90vw;
  box-shadow: 0 2px 16px rgba(0,0,0,0.18);
  position: relative;
}

.close-modal-btn {
  margin-top: 1.5rem;
  background: #2d3748;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 0.5em 1.2em;
  font-size: 1em;
  cursor: pointer;
}

.close-modal-btn:hover {
  background: #4a5568;
}

.status-badge {
  padding: 0.2em 0.7em;
  border-radius: 12px;
  color: #fff;
  font-size: 0.95em;
  font-weight: 500;
  display: inline-block;
  width: 60%;
}

.status-badge.ingresado {
  background: var(--color-success);
}

.status-badge.pendiente {
  background: var(--color-important);
}

