
.App {
  display: flex;
  align-items: stretch;
  min-height: 100vh;
  background: #f7fafc;
}

.main-content {
  flex: 1 1 0%;
  min-height: 100vh;
  min-width: 0;
  padding: 1em 1.5em;
  transition: all 0.2s cubic-bezier(.4,0,.2,1);
  min-width: 0;
  box-sizing: border-box;
}

.sidebar {
  width: 16rem; /* o usa min-width, max-width, o incluso flex-basis */
  flex-shrink: 0;
  min-height: 100vh;
  height: auto;
}

/* Sidebar menu text truncation */
.sidebar .menu-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  max-width: 120px;
}

.sidebar.collapsed .menu-text {
  display: none;
}


